html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

section {
  padding: 2rem;
}


h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
} 

h3 {
  font-size: 2rem;
}


iframe {
  width: 90%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.red {
  background: #E77166;
  color: #fff;
}
.darkgray {
  background: #3E3838;
}
.lightgray {
  background: #E1E7EF;
  color: #3E3838;
}

/* -----HEADER/NAV------- */

header {
  background: #fff;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header img {
  width: 20%; 
  height: auto;
}

nav {
  width: 40%;
}

nav ul {
  list-style: none;
  display: flex;
}

.navItem button {
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.navItem button:focus {
  border: none;
}



/* -----MAIN TAGLINE SECTION------- */

.main {
  padding: 1rem 2rem;
}

.main-heading {
  font-size: 3.5rem;
  line-height: 1.1;
}

/* -----CITY GUIDE INPUT SECTION------- */

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
}

.city-guide__image {
  width: 60%;
  padding: 1rem;
}

.city-guide__input {
  height: 2rem;
  margin-bottom: 0.5rem;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 4px 4px #E77166;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.city-guide__submit, .button {
  color:#ffffff;
  background-color:gray;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 4px 4px #E77166;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.7rem;
}

.city-guide__submit:hover,
.button:hover {
  cursor: pointer;
  background-image: linear-gradient(gray, #E77166);
  box-shadow: 4px 4px gray;
}

.city-guide-template {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 70%;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
}

.city-guide__template h1 {
  font-size: 2.5rem;
}

.city-guide__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.city-guide__categories * {
  width: 70%;
  margin: 0 auto;
}

.city-guide__categories h2 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 0.25rem;
}

.city-guide__categories ul {
  padding: 1rem 0;
}

.city-guide__categories li {
  text-align: left;
  width: 75%;
}

.template-img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;  
  width: 80%;
}

.city-list-display {
  margin-top: 4rem;
}

.city-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.city-list li {
  list-style: none;
  margin: 0.5rem;
}

/* ----- BLOG ------- */

.blog-posts {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;;
}

.blog-posts li {
  list-style: none;
  text-align: left;
}

/* -----YOUTUBE VIDEOS SECTION------- */

.footer {
  margin-top: 2rem;
  padding: 1rem;
}

.video-layout {
  margin: 1rem;
}

.video-layout iframe {
  width: 100%;
}


/* -------BIGGER SCREEN MEDIA QUERIES------- */

@media only screen and (min-width: 625px) {

  .container {
    width: 60%;
  }

  .main {
    padding: none; 
  }

  .city-guide__image {
    display: none;
    width: 40%;
  }

  .podcast-player {
    width: 60%;
  }

  .video-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .video-layout iframe {
    width: 33%;
  }

  
}